// nextflow.config for use in gtex overlap analyses

// Define parameters
params {

    // General parameters
    threads = 8
    memory = '10 GB'
    partition = 'standard'
    account = 'manichaikul'
    
    // Directories
    out = "/standard/vol185/cphg_Manichaikul/users/csm6hg/gtex_overlap/output"
    scripts_dir = "/standard/vol185/cphg_Manichaikul/users/csm6hg/gtex_overlap/bin"

    // Raw gene count data
    gene_count_file = "/standard/vol185/TOPMed/TOPCHef/82214/topmed-dcc/exchange/phs002038_TOPMed_TOPCHeF/Omics/RNASeq/release3/TOPMed_Taylor_P4.RNASeQCv2.3.6_gene_reads.gct.gz"
    
    // Metadata
    samp = "/standard/vol185/cphg_Manichaikul/users/csm6hg/metadata/topchef_samples_bcf.txt"
    metadata = "/standard/vol185/cphg_Manichaikul/users/csm6hg/metadata/metadata_10_17_2024_CSM.txt"
    chrom_file = "/standard/vol185/cphg_Manichaikul/users/csm6hg/data/chromosomes"
    
    // Script inputs
    gtf = "/standard/vol185/cphg_Manichaikul/users/csm6hg/genome_files/gencode.v34.GRCh38.annotation.gtf"
    gtf_streamlined = "/standard/vol185/cphg_Manichaikul/users/csm6hg/genome_files/gencode.v34.GRCh38.ERCC.genes.collapsed.streamlined.RDS"

    // Default parameters
    gtex_dir = "/standard/vol185/cphg_Manichaikul/projects/GTEx/GTEx_v10_TissueSpecific-eQTL"
    gwas_dir = "/standard/vol185/cphg_Manichaikul/users/csm6hg/nextflow_dna/output/gwas"
    chef_file = "/standard/vol185/cphg_Manichaikul/users/csm6hg/data/candidate_maxRNAPC11_eQTL_sigPerm0.05.rds"
    output_dir = "/standard/vol185/cphg_Manichaikul/users/csm6hg/gtex_overlap/results"
}

// Define profiles for slurm execution environment
profiles {
    slurm {
        process {
            executor = 'slurm' // Use SLURM as the executor
            clusterOptions = "--partition=${params.partition} \
            --account=${params.account}" // SLURM partition, account
            cpus = "${params.threads}" // Number of threads per job
            memory = "${params.memory}" // Memory per job
            errorStrategy = 'finish'
        }
    }
}

// Diagram configuration
dag {
    enabled = true
    file = 'flowchart.png'
    format = 'png'
}

// Report configuration
report {
    enabled = true
    file = 'report.html'
}

// Overwrite existing DAG and report files
dag.overwrite = true
report.overwrite = true
